#real-accessability {
	// Start hidden, toggled by Javascript
	display: none;

	// Keep the widget hidden on smaller screens
	@media (max-width: 767px ) {
		display: none !important;
	}

	@media print {
		display: none !important;
	}
}

