#real-accessability {
	// Start hidden, toggled by Javascript
	display: none;

	// Keep the widget hidden on smaller screens
	@media (max-width: @screen-sm-min ) {
		display: none !important;
	}

	@media print {
		display: none !important;
	}
}

