<div id="real-accessability" style="display: none;" {{#if button-position}}class="{{button-position}} a1"{{/if}}>
	<a {{#if icon-color}}style="color: {{icon-color}}"{{/if}} href="#" id="real-accessability-btn" title="{{msg-a11ytoolbar-btn-tooltip}}" aria-label="{{msg-a11ytoolbar-btn-tooltip}}" aria-expanded="false" aria-controls="real-accessability-body">
		<span class="real-accessability-loading fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></span>
		<span class="real-accessability-icon fa fa-universal-access fa-fw"></span>
	</a>

	{{>Menu}}
</div>
